fastapi
uvicorn
pydantic
dotenv
tavily-python
huggingface_hub
google-generativeai
langgraph
python-docx 
PyMuPDF
python-multipart

sqlalchemy
asyncpg
pydantic[email]
python-jose
passlib[argon2]

langgraph
arxiv